.navbar-cis {
    width: 100%;
    height: 12vh;
    display: grid;
    grid-template-columns: 10% 90%;
}

.navbar-cis img {
    margin-left: 15%;
    width: 70%;
    height: 55%;
    justify-self: start;
    align-self: center;
}

.navbar-cis nav {
    justify-self: end;
    align-self: center;
    margin-right: 5%;
    width: 30%;
    ul{
        display: flex;
        justify-content: space-between;
        li button{
            font-family: 'Arima';
            font-weight: 400;
            padding-bottom: 2%;
            margin-left: 5%;
            cursor: pointer;
            border-bottom: 2px solid transparent;
            &.active, &:hover {
                border-bottom-color: #3EA2DC;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .navbar-cis {
        height: 10vh;
        grid-template-columns: 30% 70%;
    }
    .navbar-cis img {
        margin-left: 5%;
        width: 80%;
        height: 50%;
    }
    .navbar-cis nav {
        width: 80%;
        margin-right: 4%;
        ul{
            li button{
                font-size: 12px;
                margin-left: 5%;
            }
        }
    }
}
