.stats_title {
    font-family: 'Arvo';
    font-size: 1.25rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-self: start;
}

.stats_value {
    font-family: 'Arvo';
    border: 3px solid #ffffff;
    border-radius: 100%;
}

.stats_div {
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 641px) {
    .stats_title.last::before, .stats_title.last::after{
        content: "-";
        margin-left: 7px;
        margin-right: 7px;
        visibility: hidden;
    }
}