@import 'tailwindcss';

@font-face {
    font-family: "Arima";
    src: url("fonts/ArimaKoshi-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Arima-Semibold";
    src: url("fonts/ArimaKoshi-Semibold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arima-Bold";
    src: url("fonts/ArimaKoshi-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arya";
    src: url("fonts/Arya-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Arvo";
    src: url("fonts/Arvo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

body{
    overflow-x: hidden !important;
}