@import 'tailwindcss';

@font-face {
    font-family: "Arima";
    src: url('fonts/ArimaKoshi-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Arima";
    src: url('fonts/ArimaKoshi-Semibold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Arya";
    src: url('fonts/Arya-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}